<div class="card">
  <div class="card-header ">
    <div class="row">
      <div *ngIf="shippingSlip" class="col">
        <h6>{{title}}&nbsp;N°: {{shippingSlipService.formatShippingSlipNumber(shippingSlip)}}
          du {{shippingSlip.date|date:"dd/MM/yyyy"}} </h6></div>
      <div class="col col-auto">
        <button [useExistingCss]="true" class="btn btn-outline-success align-content-end" ngxPrint
                printSectionId="printPart" styleSheetFile="assets/print-styl/invoice.scss"
        >
          <span class="fa fa-print"></span>

        </button>
      </div>
      <div class="col col-auto">
        <button (click)="onCancel()" class="btn btn-outline-success align-content-end">
          <span class="fa fa-arrow-left"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid" id="printPart">
      <div class="row no-gutters"><h2><strong>.</strong></h2></div>
      <app-header></app-header>

      <hr/>
      <div class="row no-gutters ">
        <div class="col col-8">
          <h6><strong><p>Direction Général.</p></strong></h6>
        </div>
        <div *ngIf="shippingSlip" class="col col-4 text-end"><strong> Alger Le:
          &nbsp; {{shippingSlip.date| date :"dd/MM/yyyy"}} </strong></div>
      </div>
      <div class="row no-gutters ">
        <div class="col col-8">
          <h6><strong>Stricture Commercial.</strong></h6>
        </div>
      </div>
      <div class="row no-gutters">
        <div *ngIf="shippingSlip" class="col col-8">
          <h6><strong>N°: {{shippingSlipService.formatShippingSlipNumber(shippingSlip)}}/DIR/COM.</strong></h6>
        </div>

      </div>


      <div class="row no-gutters">
        <div class="col col-8">
          <h6><strong> &nbsp;</strong></h6>
        </div>

      </div>

      <div align="center" class="row no-gutters ">
        <div align="center" class="col col">
          <h4 align="center"><strong> <u><i>Bordereau d'Envoi des Pièces adressées</i> </u> </strong></h4>
        </div>

      </div>

      <div class="row no-gutters">
        <div class="col col-8">
          <h6><strong> &nbsp;</strong></h6>
        </div>

      </div>

      <div class="row no-gutters items-group1">

        <div class="card-body">
          <div>
            <table class="table  border-black  table-bordered table-hover">
              <thead>
              <tr class="text-center">
                <th style="width: 5%"><p>Num</p></th>
                <th style="width: 80%">Designation<p></p></th>
                <th style="width: 3%"><p>N.page</p></th>
                <th style="width: 12%"><p>Obs</p></th>
              </tr>
              </thead>
              <tbody>
              <tr class="text-center">
                <td></td>
                <td><strong><p>Nous vous transmettons ci-joint :</p></strong></td>
                <td></td>
                <td></td>
              </tr>
              <tr *ngFor=" let a of this.lignes ;let i=index ">
                <td style="text-align: center"><p>{{i}}</p></td>
                <td><p>&nbsp;- La facture N°: <strong>{{invoiceSservice.formatInvoiceNumber(a.invoice)}}  </strong> du
                  <strong>{{a.invoice.date|date:'dd/mm/yyyy'}}</strong> d'un montant de
                  <strong>{{a.invoice.amountIncludingTax|number:'0.2'}}</strong> &nbsp;DZD</p>
                </td>
                <td align="center"><p>{{a.nbrPage}}</p></td>
                <td><p>{{a.obs}}</p></td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>
      <div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row  text-end"><strong> Le President Directeur Général </strong></div>
      </div>
      <footer>
        <hr/>
        <div align="center" class="row no-gutters">
          <p>SONAREM ETTAKWINE Spa. -Adresse: 127, Bd Krim Belkacem-Telemly-ALGER.
            -Tel: 021714872-021714903. -RC N° : 900146434.</p>
        </div>

        <div>&nbsp;</div>
      </footer>
  </div>


  </div>

</div>
