<div class="card">
  <div class="card-header ">
    <div class="row">
      <div class="col"><h6>{{title}}</h6></div>
      <div class="col col-auto">
        <button class="btn btn-outline-success align-content-end" (click)="onAdd()">
          <span class="fa fa-plus"></span>
          Ajouter
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped  table-bordered table-hover">
      <thead>
      <tr class="text-center">
        <th style="width: 5%"></th>
        <th style="width: 15%">
          <form [formGroup]="fg">
            <input (keyup)="onSearch()" [formControlName]="'name'" [placeholder]="'Thème'" class="form-control"
                   type="text">
          </form>
        </th>
        <th style="width: 15%">
          <form [formGroup]="fg">
            <input (keyup)="onSearch()" [formControlName]="'domaine'" [placeholder]="'Doamine'" class="form-control"
                   type="text">
          </form>
        </th>
        <th style="width: 15%"></th>
        <th style="width: 5%"></th>
        <th style="width: 30%"></th>
      </tr>
      </thead>
      <thead>
      <tr class="text-center">
        <th style="width: 5%">code</th>
        <th style="width: 25%">Intitulé</th>
        <th style="width: 25%">Domaine</th>
        <th style="width: 30%">But</th>
        <th style="width: 30%">Objectif</th>
        <th style="width: 5%">Durée(Jours)</th>
        <th style="width: 5%">Durée(Heures)</th>

      </thead>
      <tbody>

      <tr *ngFor="let a of this.actions ;let i=index ">
        <td style="text-align: center"> {{a.id}}</td>
        <td> {{a.name}}</td>
        <td> {{a.domaine.name}}</td>
        <td> {{a.but}}</td>
        <td> {{a.objectif}}</td>
        <td> {{a.duration}}</td>
        <td> {{a.durationHour}}</td>

        <td>
          <div class="container">
            <button class="btn btn-outline-success" (click)="onUpdate(a)">
              <span class="fa fa-pencil"> </span>
            </button>
          </div>
        </td>
        <td>
          <div class="container">
            <button class="btn btn-outline-success" (click)="onDelete(a)">
              <span class="fa fa-trash-o"> </span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-header">
    <!--    Total : <strong>{{totalEntreprise}}</strong> &nbsp;Enregistrements-->
  </div>

</div>



