<div class="card" [class.isPrinting]="true">
  <div class="card-header ">
    <div class="row">
      <div class="col"><h6>{{title}}</h6></div>
      <div class="col col-auto">
        <button (click)="onAddInvoice()" class="btn btn-outline-success align-content-end">
          <span class="fa fa-plus"></span>
          Ajouter
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped  table-bordered table-hover">
      <thead>
      <tr class="text-center">
        <th style="width: 5%">
          <form [formGroup]="formGroup">
            <input class="form-control" (keyup)="onSearch()" [formControlName]="'number'" [placeholder]="'N° facture'" type="text">
          </form></th>
        <th style="width: 15%">
          <form [formGroup]="formGroup">
            <input class="form-control" (keyup)="onSearch()" [formControlName]="'shortName'" [placeholder]="'Client'" type="text">
          </form></th>
        <th style="width: 15%">
          <form [formGroup]="formGroup">
            <input class="form-control" (keyup)="onSearch()" [formControlName]="'date'" [placeholder]="'date facture'" type="text">
          </form></th>
        <th style="width: 15%"></th>
        <th style="width: 5%"></th>
        <th style="width: 30%"></th>
      </tr>
      </thead>
      <thead>
      <tr class="text-center">
        <th style="width: 5%">N°</th>
        <th style="width: 30%">Client</th>
        <th style="width: 15%">date</th>
        <th style="width: 15%">Montant HT</th>
        <th style="width: 10%">Montant TVA</th>
        <th style="width: 15%">Montant TTC</th>
      </thead>
      <tbody>
      <tr *ngFor="let a of this.invoices ;let i=index " title="Object :{{a.object}}.
       Reference :{{a.reference}}">
        <td style="text-align: center"> {{invoiceService.formatInvoiceNumber(a)}}</td>
        <td> {{a.customer.shortName}}</td>
        <td> {{a.date |date:"dd/MM/yyyy"}}</td>
        <td align="right"> {{a.amountExcludingTax| number:".2"}}</td>
        <td align="right"> {{a.amountTax| number:".2"}}</td>
        <td align="right"> {{a.amountIncludingTax| number:".2"}}</td>
        <td>
          <div class="container">
            <button (click)="onDetail(a)" class="btn btn-outline-success">
              <span class="fa fa-info-circle"> </span>
            </button>
          </div>
        </td>
        <td *ngIf="a.amountIncludingTax===a.remains">
          <div class="container">
            <button (click)="onUpdate(a)" class="btn btn-outline-success">
              <span class="fa fa-pencil"> </span>
            </button>
          </div>
        </td>
        <td *ngIf="a.amountIncludingTax===a.remains">
          <div class="container">
            <button (click)="onDelete(a)" class="btn btn-outline-success">
              <span class="fa fa-trash-o"> </span>
            </button>
          </div>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-header">
    <!--    Total : <strong>{{totalEntreprise}}</strong> &nbsp;Enregistrements-->
  </div>

</div>


