<div class="card">
  <div class="card-header ">
    <div class="row">
      <div class="col"><h6>{{title}}</h6></div>
      <div class="col col-auto">
        <button (click)="onCancel()" class="btn btn-outline-success align-content-end">
          <span class="fa fa-arrow-left"></span>

        </button>
      </div>
    </div>
  </div>
  <div class="card-body m-lg-5">
    <form [formGroup]="formGroup">


      <div class="col ">
        <div class="row m-2">
          <div class="col col-2 text-end"><label> Nom de laPhase: </label></div>
          <div class="col col-3"><input [formControlName]="'name'" class="form-control"
                                        placeholder="Nom de la Phase"
                                        type="text"></div>
          <div class="col"><h6 style="color:#ff0000">(*)</h6></div>
        </div>

        <div class="row m-2">
          <div class="col col-2 text-end"><label> Date debut: </label></div>
          <div class="col col-4"><input   (change)="calculerDure()"
            [formControlName]="'dd'" class="form-control" id="dateD" type="date"></div>
          <div class="col"><h6 style="color:red">(*)</h6></div>
        </div>
        <div class="row m-2">
          <div class="col col-2 text-end"><label> Date fin: </label></div>
          <div class="col col-4">
            <input     (change)="calculerDure()" [formControlName]="'df'"
                                        class="form-control" id="datef" type="date"  ></div>
          <div class="col"><h6 style="color:red">(*)</h6></div>
        </div>
        <div class="row m-2">
          <div class="col col-2 text-end"><label> Durée (en jours): </label></div>
          <div class="col col-2"><input   [formControlName]="'dureDay'" class="form-control"
                                        placeholder="Durée (en jours)" type="text"></div>
          <div class="col"><h6 style="color:#ff0000">(*)</h6></div>
        </div>

        <div class="row m-2">
          <div class="col col-2 text-end"><label> Type de la phase: </label></div>
          <div class="col col-2" *ngIf="typePhases">
            <select class='form-select form-control' [formControlName]="'type'">
              <option class='form-select' *ngFor='let option of typePhases'
                      [value]="option.type">{{option.type}}</option>
            </select>
          </div>
          <div class="col"><h6 style="color:#ff0000">(*)</h6></div>
        </div>
<!--        <div class="row m-2" *ngIf="formGroup.value.type=='FT'">-->
<!--          <div class="col col-2 text-end"><label> Lieu de la formation : </label></div>-->
<!--          <div class="col col-2" *ngIf="lieuPhases">-->
<!--            <select class='form-select form-control' formControlName="lieu">-->
<!--              <option class='form-select' *ngFor='let option of lieuPhases'-->
<!--                      [value]="option">{{option}}</option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <div class="col"><h6 style="color:#ff0000">(*)</h6></div>-->
<!--        </div>-->

        <div class="row">
          <div class="col">
          </div>
          <div class="col">
            <button (click)="onValidate()" class="btn btn-outline-success m-2">Validate</button>
            <button (click)="onCancel()" class="btn btn-outline-success m-2">Cancel</button>
          </div>
          <div class="col">
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="card-footer ">
    <div class="row">
      <div class="col"><h3>{{footer}}</h3></div>

    </div>
  </div>
</div>

