<div class="card">
  <div class="card-header ">
    <div class="row">
      <div class="col"><h6>{{title}}</h6></div>

      <div class="col col-auto">
        <button (click)="onAddUnitMesure()" class="btn btn-outline-success align-content-end">
          <span class="fa fa-plus"></span>
          Ajouter
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped  table-bordered table-hover">
      <thead>
      <tr class="text-center">
        <th style="width: 15%"></th>
        <th style="width: 20%">

              <form [formGroup]="formGroup">
                <input class="form-control" (keyup)="onShearch()" [formControlName]="'name'" [placeholder]="'recherche par nom'" type="text">
              </form>

        </th>
        <th style="width: 5%"> <label></label></th>
        <th style="width: 5%"><label></label></th>

      </thead>
      <thead>
      <tr class="text-center">
        <th style="width: 15%">#</th>
        <th style="width: 20%">

            <div class="col"><label>Nom</label></div>


        </th>
        <th style="width: 5%"> <label>update</label></th>
        <th style="width: 5%"><label>delete</label></th>

      </thead>


      <tbody>

      <tr *ngFor="let a of this.uniteMesures ;let i=index ">
        <td style="text-align: center"> {{a.id}}</td>
        <td> {{a.name}}</td>

        <td>
          <div class="container">
            <button (click)="onUpdate(a)" class="btn btn-outline-success">
              <span class="fa fa-pencil"> </span>
            </button>
          </div>
        </td>
        <td>
          <div class="container">
            <button (click)="onDelete(a)" class="btn btn-outline-success">
              <span class="fa fa-trash-o"> </span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-header">
    <!--    Total : <strong>{{totalEntreprise}}</strong> &nbsp;Enregistrements-->
  </div>

</div>


