<div class="card">
  <div class="card-header ">
    <div class="row">
      <div class="col"><h6>{{title}}&nbsp;</h6></div>
      <div class="col col-auto">
        <button class="btn btn-outline-success align-content-end" ngxPrint printSectionId="printPart"
                styleSheetFile="/assets/print-styl/attestation.css"
        >
          <span class="fa fa-print"></span>

        </button>
      </div>
      <div class="col col-auto">
        <button (click)="onCancel()" class="btn btn-outline-success align-content-end">
          <span class="fa fa-arrow-left"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="printPart">
      <div class="div_with_bg">
        <div class="name">BOUKARI Faouzi </div>
        <div class="date_naissance">09/01/1930</div>
        <div class="lieu_naissance">Azzefoune </div>
        <div class="formation">Fabrication des boulons</div>
        <div class="du">01/01/2022</div>
        <div class="au">02/03/2023</div>
        <div class="duree_jour">35</div>
        <div class="duree_heure">120</div>
        <div class="edition">01/02/2024</div>

      </div>
    </div>
  </div>
</div>
