<div class="card"  *ngIf="proforma">
  <div class="card-header ">
    <div class="row">
      <div *ngIf="proforma" class="col"><h6>{{title}}&nbsp;N°: {{proformaService.formatProformaNumber(proforma)}}
        du {{proforma.date|date:"dd/MM/yyyy"}} </h6></div>
      <div class="col col-auto">
        <button class="btn btn-outline-success align-content-end" printSectionId="printPart" ngxPrint
                [useExistingCss]="true" styleSheetFile="assets/print-styl/proforma.scss"
        >
          <span class="fa fa-print"></span>

        </button>
      </div>
      <div class="col col-auto">
        <button (click)="onCancel()" class="btn btn-outline-success align-content-end">
          <span class="fa fa-arrow-left"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid" id="printPart">
      <div class="row no-gutters"><h2><strong>.</strong></h2></div>
      <div class="row no-gutters">
        <div class="col col-3">
          <img src="../../assets/logo.bmp">
        </div>
        <div class="col">
          <h2><strong> شركة سوناريم التكوين</strong></h2>
          <h2><strong>SONAREM ETTAKWINE Spa - Filiale du GROUPE SONAREM CAPITAL SOCIAL : 10 000 000 DA</strong></h2>
        </div>
      </div>
      <hr />
      <div class="row no-gutters ">
        <div *ngIf="proforma" class="col col-8">
          <h4><strong>Facture Proforma N°: {{proformaService.formatProformaNumber(proforma)}}</strong></h4>
        </div>
        <div *ngIf="proforma" class="col col-4 text-end"><strong> Alger Le:
          &nbsp; {{proforma.date| date :"dd/MM/yyyy"}} </strong></div>
      </div>
      <hr />
      <div class="row items-group1">

        <div class=" col col-6 no-gutters items-group" style="text-align: center">
          <p>SONAREM ETTAKWINE Spa</p>
          <p>Adresse:127, Bd Krim Belkacem-Telemly-ALGER. Tel:021714872-021714903</p>
          <p>RIB BNA N°:00100609030000027991.</p>
          <p> RC N°:900146434. Art N° : 16016763336</p>
          <p>NIF N°:002316124257199. NIS N°:002316010279254.</p>
          <p></p>
        </div>

        <div *ngIf="proforma" class=" col col-6 no-gutters items-group" style="text-align: center">
          <p>
            <strong><strong>Doit:&nbsp;&nbsp;</strong>{{proforma.customer.name}}&nbsp;({{proforma.customer.shortName}}
              )</strong></p>
          <p>Adresse:&nbsp;{{proforma.customer.adresse}}. Tél:&nbsp;{{proforma.customer.phoneNumber}}.
            Fax:&nbsp;{{proforma.customer.fax}}.</p>
          <p>RC:&nbsp; {{proforma.customer.numRc}}NIF:&nbsp; {{proforma.customer.idFiscal}}</p>
          <p>NIS:&nbsp;{{proforma.customer.idStatistic}}.N° Article:&nbsp; {{proforma.customer.numArticle}}</p>
          <p></p>
        </div>

      </div>
      <hr />
      <div class="row no-gutters items-group1">

        <div class="card-body">
          <div>
            <table class="table table-striped border-black  table-bordered table-hover">

              <thead>
              <tr class="text-center">
                <th style="width: 5%">#</th>
                <th style="width: 50%">Prestation</th>
                <th style="width: 15%">Nombre</th>
                <th style="width: 10%">Qte</th>
                <th style="width: 10%">P.U</th>
                <th style="width: 25%">Total</th>

              </thead>
              <tbody>

              <tr *ngFor="let a of this.lignes ;let i=index ">
                <td style="text-align: center"> {{i}}</td>

                <td> {{a.benefit.designation}} <label *ngIf="a.observation"> ({{a.observation}})</label></td>
                <td align="left" *ngIf="a.unit"> {{a.number}}&nbsp;{{a.number==1?a.unit.name:a.unit.name+"s"}}</td>
                <td align="center"> {{a.quantity}}</td>
                <td align="right"> {{a.price| number:".2"}} </td>
                <td align="right"> {{a.price * a.quantity | number:".2"}}</td>



              </tr>
              </tbody>
              <!--              <thead>-->
              <!--              <tr class="text-center">-->
              <!--                <th style="width: 5%">#</th>-->
              <!--                <th style="width: 50%">Prestation</th>-->
              <!--                <th style="width: 10%">Qte</th>-->
              <!--                <th style="width: 10%">P.U</th>-->
              <!--                <th style="width: 25%">Total</th>-->
              <!--              </tr>-->
              <!--              </thead>-->
              <!--              <tbody>-->
              <!--              <tr *ngFor=" let a of this.lignes ;let i=index ">-->
              <!--                <td style="text-align: center"> {{i}}</td>-->
              <!--                <td> {{a.benefit.designation}} <label *ngIf="a.observation"> ({{a.observation}})</label></td>-->
              <!--                <td align="center"> {{a.quantity}}</td>-->
              <!--                <td align="right"> {{a.price| number:".2"}} </td>-->
              <!--                <td align="right"> {{a.price * a.quantity | number:".2"}}</td>-->
              <!--              </tr>-->
              <!--              </tbody>-->
            </table>
          </div>
          <div *ngIf="proforma" div>
            <div class="row">
              <div class="col 6"></div>
              <div class="col-6">
                <table class="table table-striped  border-black table-bordered table-hover">
                  <tr>
                    <td align="right"><h6>Montant HT :</h6></td>
                    <td align="right"><h6>{{proforma.amountExcludingTax|number :".2"}}&nbsp;DA</h6></td>
                  </tr>
                  <tr>
                    <td align="right"><h6>Montant TVA (9%):</h6></td>
                    <td align="right"><h6>{{proforma.amountTax|number :".2"}}&nbsp;DA</h6></td>
                  </tr>
                  <tr>
                    <td align="right"><h6>Montant TTC :</h6></td>
                    <td align="right"><h6>{{proforma.amountIncludingTax|number :".2"}}&nbsp;DA</h6></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="row">La présente facture est arrêtée à la somme de ;</div>
          <div class="row  text-center"><strong>{{proformaService.numberToLetter(intPart())}}&nbsp; DZD &nbsp; et
            &nbsp; {{decimalPart()|number :".0"}} &nbsp; Cts</strong></div>
        </div>
      </div>
      <div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row  text-end"><strong> Le President Directeur Général </strong></div>
      </div>
    </div>
  </div>
</div>

