<div class="card">
  <div class="card-header ">
    <div class="row">
      <div class="col"><h6>{{title}}</h6></div>
      <div class="col col-auto">
        <button class="btn btn-outline-success align-content-end" (click)="onAddBenefit()">
          <span class="fa fa-plus"></span>
          Ajouter
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped  table-bordered table-hover">
      <thead>
      <tr class="text-center">
        <th style="width: 5%">code</th>
        <th style="width: 35%">Designation</th>
        <th style="width: 40%">Description</th>
        <th style="width: 10%">Prix</th>
        <th style="width: 10%">Unité de mesure</th>

      </thead>
      <tbody>

      <tr *ngFor="let a of this.benefits ;let i=index ">
        <td style="text-align: center"> {{a.id}}</td>
        <td> {{a.designation}}</td>
        <td> {{a.description}}</td>
        <td> {{a.price}}</td>
        <td> {{a.unitMeasurement.name}}</td>

        <td>
          <div class="container">
            <button class="btn btn-outline-success" (click)="onUpdate(a)">
              <span class="fa fa-pencil"> </span>
            </button>
          </div>
        </td>
        <td>
          <div class="container">
            <button class="btn btn-outline-success" (click)="onDelete(a)">
              <span class="fa fa-trash-o"> </span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-header">
    <!--    Total : <strong>{{totalEntreprise}}</strong> &nbsp;Enregistrements-->
  </div>

</div>


