<div class="container-fluid">
  <!--  <div class="row no-gutters">-->
  <!--    <div class="col">-->
  <!--      <h1> Assistência Nº 1 </h1>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="row no-gutters">
    <div class="col col-3">
      <img src="../../assets/logo.bmp">
    </div>

    <div class="col">
      <h2><strong> شركة سوناريم التكوين</strong></h2>
      <h2><strong>SONAREM ETTAKWINE Spa - Filiale du GROUPE SONAREM CAPITAL SOCIAL : 10 000 000 DA</strong></h2>

    </div>

  </div>
  <div class="row">
    <div class=" col col-5 no-gutters items-group" style="text-align: center">

      <p>SONAREM ETTAKWINE Spa</p>
      <p>Adresse : 127, Bd Krim Belkacem-Telemly-ALGER </p>
      <p>RIB BNA N° : 00100609030000027991</p>
      <p>Tel : 021714872-021714903</p>
      <p>RC N° : 900146434</p>
      <p>NIF N° :  002316124257199</p>
      <p>NIS N° : 002316010279254</p>
      <p>Art N° : 16016763336</p>
    </div>
    <div class="col"></div>
    <div class=" col col-5 no-gutters items-group" style="text-align: center">

      <p><strong> Doit :</strong></p>
      <p>Adresse:</p>
      <p>RC:</p>
      <p>NIF:</p>
      <p>NIS:</p>
      <p>N° Article :</p>

    </div>

    <div class="row no-gutters items-group">
      <div class="col">
        <p class="label">Condições Gerais:</p>
        <ul class="disclaimer">
          <li>Prazo para levantar 90 dias</li>
          <li>Garantia 90 dias</li>
          <li>Esta assistência só é entregue a quem apresentar este documento</li>
          <li>O preço acresce 10% a cada 30 dias após fim do prazo de levantamento (taxa de conservação)</li>
          <li>Os dados do cliente, acima mencionados, ficam registados na N Reparações apenas para efeitos de
            comunicação
            em relação às suas assistências e facturação
          </li>
        </ul>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col">
        <p class="disclaimer signature-field">Declaro que li e concordo com o disposto neste documento em 03/02/2019</p>
      </div>
    </div>
  </div>
