
<div class="toast-body align-text-top" style="background-color:#e0ebeb;cursor: pointer;">

  <h1>{{title}}</h1>

</div>
<div class="row">
  <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom" href="/">

      <span class="fs-5 fw-semibold">Menu</span>
    </a>
    <ul class="list-unstyled ps-0">

      <li class="mb-1">
        <button aria-expanded="false"
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-target="#reference-table" data-bs-toggle="collapse">

          <span class="fa fa-address-book" ></span>
          &nbsp;&nbsp;Renomage
        </button>
        <div class="collapse" id="reference-table">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a class="link-dark d-inline-flex text-decoration-none rounded" (click)="onSante()">Santé</a></li>
            <li><a class="link-dark d-inline-flex text-decoration-none rounded" (click)="oncSecurity()" >Sécurité</a></li>
            <li><a class="link-dark d-inline-flex text-decoration-none rounded" (click)="onEnverenment()" >Environment</a></li>
            <li><a class="link-dark d-inline-flex text-decoration-none rounded" (click)="onFCommun()" >Commun</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button aria-expanded="false"
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-target="#orders-collapse" data-bs-toggle="collapse">
          <span class="fa fa-briefcase" ></span>
          &nbsp; Donnée de base
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a class="link-dark d-inline-flex text-decoration-none rounded" (click)="onEntrepriseCalled()" >Entreprise</a></li>
            <li><a class="link-dark d-inline-flex text-decoration-none rounded" (click)="onStrictureCalled()" >Structure</a></li>
            <li><a class="link-dark d-inline-flex text-decoration-none rounded" (click)="onPosteCalled()">Poste de travail</a></li>
          </ul>
        </div>
      </li>

    </ul>
  </div>
  <div class="col bg-light m-lg-3">

    <router-outlet></router-outlet>
  </div>
</div>

