html, body, h1, h2, h3, h4, p, img { margin: 0;} /* margin reset*/
h1{font-size: 18pt; font-weight: 350; margin-bottom: 0.1cm;}
h2{font-size: 16pt; font-weight: 350;}
p{font-size: 9pt;}

.items-group {
  border-style: solid;
  border-color:gray;
  border-width: 1pt 1pt 1pt 1pt;
  border-radius: 1pt;
  padding: 1pt 1pt 1pt 1pt;
  margin: 1pt 0 1pt 0;
}
.items-group1 {
  border-style: solid;
  border-color: black;
  border-width: 0 0 0 0;
  border-radius: 1pt;
  padding: 1pt 1pt 1pt 1pt;
  margin: 1pt 0 1pt 0;
}


.label { font-weight: 500;}

.disclaimer, .address p {
  font-size: 10pt;
}

.signature-field {
  padding-bottom: 24pt;
  border-bottom: solid black 1pt;
}
@page {
  size: 210mm 297mm;
  /* Chrome sets own margins, we change these printer settings */
  margin: 0 4mm 0 4mm;
}



.container {
  display: grid;
  grid: "numero numero"
        "logo loja"
        "clt-lbl clt"
        "da-lbl da";
  grid-row-gap: 1cm;
}

.label-group {
  border-left: solid black 1pt;
  border-top: solid black 1pt;
  border-top-left-radius: 10pt;
  padding: 9pt 0 0 9pt
}

.description-group {
  border-top: solid black 1pt;
  padding: 9pt 0 0 9pt
}

.numero {
  grid-area: numero;
}

.loja {
  grid-area: loja;
}



.cliente-label {
  grid-area: clt-lbl;
}

.cliente {
  grid-area: clt;
}

.detalhes-assistencia-label {
  grid-area: da-lbl;
}

.detalhes-assistencia {
  grid-area: da;
}





.container {
  display: grid;
  grid: "numero numero"
        "logo loja"
        "clt-lbl clt"
        "da-lbl da";
  grid-row-gap: 1cm;
}

.label-group {
  border-left: solid black 1pt;
  border-top: solid black 1pt;
  border-top-left-radius: 10pt;
  padding: 9pt 0 0 9pt
}

.description-group {
  border-top: solid black 1pt;
  padding: 9pt 0 0 9pt
}

.numero {
  grid-area: numero;
}

.loja {
  grid-area: loja;
}



.cliente-label {
  grid-area: clt-lbl;
}

.cliente {
  grid-area: clt;
}

.detalhes-assistencia-label {
  grid-area: da-lbl;
}

.detalhes-assistencia {
  grid-area: da;
}


